@font-face {
  font-family: "BadaBoom";
  src: url("./fonts/BadaBoom BB.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("./fonts/Ubuntu Title.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gobold";
  src: url("./fonts/Gobold High Thin.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
