.player-1 {
  &.category-selector {
    position: absolute;
    left: 1vw;
    top: 1vh;
  }
  &.character-selector {
    position: absolute;
    left: 1vw;
    top: 12vh;
    width: 20vw;
    height: 70vh;
    background: red;
  }
}

.player-2 {
  &.category-selector {
    position: absolute;
    right: 1vw;
    top: 1vh;
  }
  &.character-selector {
    position: absolute;
    right: 1vw;
    top: 12vh;
    width: 20vw;
    height: 70vh;
    background: red;
  }
}
